{% extends 'base.html.twig' %}

{% block title %}New Matiere{% endblock %}

{% block body %}
    <h1>Create new Matiere</h1>
    <a class="genric-btn primary-border circle" href="{{ path('matiere_index') }}">back to list</a>

    {{ include('matiere/_form.html.twig') }}

    
{% endblock %}
