{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col">
        <h1>Envoyer messages</h1>
        
      
        </div>
    </div>
    {{ form(form) }}
</section>
{% endblock %}
